<h1>
Welcome to SwipeShop!
</h1>

<h2>We're a website looking to make online shopping the easiest and most fun for you </h2>

If you're a new shopper - head to "sign up," pick some preferences, and go to your feed! 
<p>
If you're a returning shopper - head to "sign in," and pick what you want to shop today! 
</p>