<h1>Welcome Back!</h1>

<h2> What would you like to shop today? <h2>

<form action="/new_choices" method="post">
<ul>
<li>
<label for="browser_username">Username </label>
<input id="browser_username" type="text" name="input_username" placeholder="Enter your username">
</li>
<li>
<label for="browser_price">How expensive would you like to shop today? Level of 1 or 2 </label>
<input id="browser_price" type="text" name="input_price" placeholder=" ex. 2">
</li>
<li>
<label for="browser_sex">Are you looking for male or female clothing?  </label>
<input id="browser_sex" type="text" name="input_sex" placeholder="ex. male">
</li>
<li>
<label for="browser_age">Are you over or under 40?  </label>
<input id="browser_age" type="text" name="input_age" placeholder="ex. under">
</li>
<li>
<label for="browser_use">Are you looking for formal or casual wear?  </label>
<input id="browser_use" type="text" name="input_use" placeholder="ex. casual">
</li>
<ul>

<button> Go to your feed! </button>
</form>
