<h1> Sign up </h1>

<form action="/insert_user_record">
<ul>
<li>
<label for="browser_username">Username </label>
<input id="browser_username" type="text" name="input_username" placeholder="Enter a username">
</li>
<li>
<label for="browser_password"> Password </label>
<input id="browser_password" type="password" name="input_password" placeholder="Enter a password">
</li>
<li>
<label for="browser_password_confirmation"> Confirm </label>
<input id="browser_password_confirmation" type="password" name="input_password_confirmation" placeholder="Confirm your password">
</li>
<li>
<label for="browser_price">How expensive would you like to shop today? Level of 1 or 2 </label>
<input id="browser_price" type="text" name="input_price" placeholder=" ex. 2">
</li>
<li>
<label for="browser_sex">Are you looking for male or female clothing?  </label>
<input id="browser_sex" type="text" name="input_sex" placeholder="ex. male">
</li>
<li>
<label for="browser_age">Are you over or under 40?  </label>
<input id="browser_age" type="text" name="input_age" placeholder="ex. under">
</li>
<li>
<label for="browser_use">Are you looking for formal or casual wear?  </label>
<input id="browser_use" type="text" name="input_use" placeholder="ex. casual">
</li>

<li>
<button> Sign up! </button>
</li>
</ul>
</form>

<hr>