<h1>Hi! Thanks for signing up at SwipeShop</h1>

<h2> Based on your preferences, we curated a feed across multiple brands. In order to purchase a product or look at other color options, click on the link below them </h2>

<p>
<h2> When you sign back in another time, you can pick new preferences and visit a new feed! </h2>
</p>

<form action="/1_male_under_casual" method="get">

<button> Go to your feed! </button>
</form>
