<h1>Hi! Thanks for signing up at SwipeShop</h1>

<h2> In order to help us curate your feed, please answer these questions about your general style preferences: </h2>

<ul>
<li>
How expensive would you like to shop today?
</li>
<li>
Are you looking for male or female clothing? 
</li>
<li>
Are you over or under 40? 
</li>
<li>
Are you looking for formal, casual, or athletic wear? 
</li>


</ul>

<h1> Go to my feed! button <h1>

<form action="/1_male_under_casual" method="get">

<button> Go to your feed! </button>
</form>
