<!DOCTYPE html>

<html>
<head>
<p>
Here is some less expensive formal wear!
</p>
</head>

<body>



<img src="https://s7d9.scene7.com/is/image/JCPenney/DP0113202209010160M?resmode=sharp2&op_sharpen=1&wid=550&hei=550">
<p>
From JCPenney for $42 <a href="https://www.jcpenney.com/p/stafford-seersucker-mens-spread-collar-long-sleeve-wrinkle-free-stretch-moisture-wicking-dress-shirt/ppr5008150124?pTmplType=regular&deptId=dept20000014&catId=cat100250013&urlState=%2Fg%2Fmen%2Fmens-dress-shirts-ties%3Fid%3Dcat100250013&productGridView=medium&badge=new">Buy Here </a>
</p>

<img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Ffb%2F3c%2Ffb3c7a67813f28f198f4900787e0d44790af1b28.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
<p>
From H&M for $34.99 <a href="https://www2.hm.com/en_us/productpage.1022801002.html">Buy Here </a>
</p>

<img src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/444593/item/goods_32_444593.jpg?width=750">
<p>
From Uniqlo for $49.90 <a href="https://www.uniqlo.com/us/en/products/E444593-000/00?colorDisplayCode=32&sizeDisplayCode=029&pldDisplayCode=034">Buy Here </a>
</p>

<img src="https://image.uniqlo.com/UQ/ST3/us/imagesgoods/444557/item/usgoods_32_444557.jpg?width=750">
<p>
From Uniqlo for $69.90 <a href="https://www.uniqlo.com/us/en/products/E444557-000/00?colorDisplayCode=32&sizeDisplayCode=003">Buy Here </a>
</p>



</body>



</html>