<!DOCTYPE html>

<html>
<head>
<p>
Here is some less expensive casual wear!
</p>
</head>

<body>

<img src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/444986/sub/goods_444986_sub8.jpg?width=750">
<p>
From Uniqlo for $59.90 <a href="https://www.uniqlo.com/us/en/products/E444986-000/00?colorDisplayCode=16&sizeDisplayCode=003">Buy Here </a>
</p>

<img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fed%2F17%2Fed17f4c6c143d090f546afef785be4915c6c3963.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
<p>
From H&M for $34.99 <a href="https://www2.hm.com/en_us/productpage.0985359005.html">Buy Here </a>
</p>

<img src="https://bonobos-prod-s3.imgix.net/products/242216/original/KNIT-CASUAL-SHIRT_TEE-SHIRT_BKT00576S1110G_1.jpg?1649918761=&auto=format&fit=clip&cs=srgb&w=768&q=75">
<p>
From Bonobos for $29 <a href="https://bonobos.com/products/yarn-spun-tee-knits00345?color=heather%20sea%20spray">Buy Here </a>
</p>

<img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fbf%2F9d%2Fbf9d969f6ada811cdcf3f63deb2ac54233af068d.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
<p>
From H&M for $14.99 <a href="https://www2.hm.com/en_us/productpage.1034065008.html">Buy Here </a>
</p>

<img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/oqxytsh74f6dh5n7t5kd/sportswear-club-fleece-mens-pants-jmbdcZ.png">
<p>
From Nike for $45 <a href="https://www.nike.com/t/sportswear-club-fleece-mens-pants-jmbdcZ/BV2737-071">Buy Here </a>
</p>

<img src="https://media.kohlsimg.com/is/image/kohls/4486991_Gray_Six?wid=1200&hei=1200&op_sharpen=1">
<p>
From Addidas for $21 <a href="https://www.kohls.com/product/prd-4486991/mens-adidas-design-2-move-woven-shorts.jsp?color=Gray%20Six&prdPV=4">Buy Here </a>
</p>


</body>



</html>