<!DOCTYPE html>

<html>
<head>
<p>
Here is some more expensive casual wear!
</p>
</head>

<body>


<img src="https://images.napapijri.com/is/image/Napapijri/NA4FQV002-HERO?wid=875&hei=1017&fmt=jpeg&qlt=85&resMode=sharp2&op_usm=0.9,1.0,8,0">
<p>
From Napapijri for $90 <a href="https://www.napapijri.com/shop/en-gb/npj-eu/men/hoodie-balis-na4fqv?variationId=002">Buy Here </a>
</p>

<img src="https://images.lululemon.com/is/image/lululemon/LM5AJTS_049900_1?wid=750&op_usm=0.8,1,10,0&fmt=webp&qlt=80,1&fit=constrain,0&op_sharpen=0&resMode=sharp2&iccEmbed=0&printRes=72">
<p>
From LuluLemon for $118 <a href="https://shop.lululemon.com/p/men-joggers/City-Sweat-Jogger/_/prod1780030?color=49900">Buy Here </a>
</p>

<img src="https://vuori.imgix.net/s/files/1/0022/4008/6074/products/V368CED_Resize_1200x_crop_center.jpg.webp?ixlib=js-3.2.1&w=800&auto=format&dpr=1&q=75&s=82c01becf65f95d5ea011319bafe913f">
<p>
From Vouri for $74 <a href="https://vuoriclothing.com/products/aim-short-cedar">Buy Here </a>
</p>

<img src="https://images-dynamic-arcteryx.imgix.net/F21/1350x1710/Kyanite-AR-Jacket-Black.jpg?auto=format%2Ccompress&q=75&ixlib=react-9.0.2&w=442">
<p>
From Arc'teryx for $159 <a href="https://arcteryx.com/us/en/shop/mens/kyanite-ar-jacket">Buy Here </a>
</p>

<img src="https://cdn.yoox.biz/12/12662030LD_13_f.jpg">
<p>
From Stone Island for $170 <a href="https://www.stoneisland.com/us/stone-island/short-sleeve-t-shirt_cod12662030ld.html#dept=pltshrts">Buy Here </a>
</p>


</body>



</html>