<!DOCTYPE html>

<html>
<head>
<p>
Here is some more expensive formal wear!
</p>
</head>

<body>


<img src="https://n.nordstrommedia.com/id/sr3/41c1c786-fdba-483f-9227-7e993e4d91ed.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196">
<p>
From Nordstrom for $145 <a href="https://www.nordstrom.com/s/david-donahue-trim-fit-dress-shirt-regular-big-tall/6436800?origin=category-personalizedsort&breadcrumb=Home%2FMen%2FClothing%2FDress%20Shirts&color=100">Buy Here </a>
</p>

<img src="https://cdn.media.amplience.net/i/brooksbrothers/MP01322_PINK-HEATHER?$large$">
<p>
From Brooks Brothers for $98.50 <a href="https://www.brooksbrothers.com/golden-fleece%C2%AE-slim-fit-stretch-supima%C2%AE-polo-shirt/MP01322.html?dwvar_MP01322_Color=PNK1">Buy Here </a>
</p>

<img src="https://www.rlmedia.io/is/image/PoloGSI/s7-1429405_alternate10?$rl_df_pdp_5_7_a10$">
<p>
From Ralph Lauren for $125 <a href="https://www.ralphlauren.com/men-clothing-pants/stretch-slim-fit-chino-pant/606621.html?dwvar606621_colorname=Deckwash%20White&cgid=men-clothing-pants&webcat=search#ab=en_US_MDLP_Slot_2_S1_L1_SHOP&start=1&cgid=men-clothing-pants">Buy Here </a>
</p>

<img src="https://cdn.media.amplience.net/i/brooksbrothers/MM01029_NAVY?$large$">
<p>
From Brooks Brothers for $350 <a href="https://www.brooksbrothers.com/regent-regular-fit-stretch-seersucker-sport-coat/MM01029.html?dwvar_MM01029_Color=NAVY">Buy Here </a>
</p>

<img src="https://n.nordstrommedia.com/id/sr3/fe861941-edd4-4610-b37f-8d7c810802ab.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196">
<p>
From Nordstrom for $128 <a href="https://www.nordstrom.com/s/scotch-soda-gradient-crewneck-sweater/6480850?origin=category-personalizedsort&breadcrumb=Home%2FMen%2FClothing%2FSweaters&color=411">Buy Here </a>
</p>


</body>



</html>